body {
    background-color: black;
}

header {
    background-color: rgb(124, 42, 124);
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

main {
    background-color: aqua;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

footer {
    background-color: bisque;
    font-size: 15px;
    text-align: left;
}