body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(187, 180, 187);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

nav {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav a {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color:white;
}

.resume-section {
    margin: 20px;
}

.resume-section-title {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.resume-section-section {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: rgb(187, 180, 187);
    font-size: 15px;
    text-align: left;
    margin-top: auto;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
}